/*Fonts*/
@font-face {
    font-family: 'FontinBold';
    src: url('fonts/fontin/Fontin-Bold.ttf');
}

@font-face {
    font-family: 'FontinItalic';
    src: url('fonts/fontin/Fontin-Italic.ttf');
}

@font-face {
    font-family: 'FontinRegular';
    src: url('fonts/fontin/Fontin-Regular.ttf');
}

@font-face {
    font-family: 'FontinSmallCaps';
    src: url('fonts/fontin/Fontin-SmallCaps.ttf');
}

@font-face {
    font-family: 'FontinSansBold';
    src: url('fonts/fontinSans/Fontin_Sans_B_45b.otf');
}

@font-face {
    font-family: 'FontinSansBoldItalic';
    src: url('fonts/fontinSans/Fontin_Sans_BI_45b.otf');
}

@font-face {
    font-family: 'FontinSansItalic';
    src: url('fonts/fontinSans/Fontin_Sans_I_45b.otf');
}

@font-face {
    font-family: 'FontinSansRegular';
    src: url('fonts/fontinSans/Fontin_Sans_R_45b.otf');
}

@font-face {
    font-family: 'FontinSansSmallCaps';
    src: url('fonts/fontinSans/Fontin_Sans_SC_45b.otf');
}
/*End Fonts*/

/*Structure*/
html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: 'FontinSansRegular';
}

.wrapper{
	min-height:100%;
	position:relative;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'FontinBold';
}

.label{
    font-family: 'FontinSansRegular';
}
/*End Structure*/

/*Header*/
.top-bar{
	background-color: black;
	 opacity: 0.8;
}

.top-bar-section li a:not(.button) {
    background: black !important;   
}

.top-bar-section li a:not(.button):hover {
    background: #333 !important;   
}

.top-bar-section ul li.active > a {
    background: black !important;   
}

.top-bar-section ul li.active > a:hover {
    background: #333 !important;   
}


/*End Header*/


/*Content*/
.frontwallImg{
	height: 100vh;
	width: 100vw;
	
}
.img-container{
	display: inline-block;
    position: relative;
}

.scrollBtn{
	 position: absolute;    
	 top:65%;
	 left: 50%;
	transform: translate(-65%, -50%);
}

.content{
	padding-top:75px;
	padding-bottom:75px;
}

.main-home{
height: 100vh;
width: 100vw;
}
/*End Content*/

/*Footer*/
footer{
	height: 75px;
	position:absolute;
   	bottom:0;
	background-color: #222222;
	width: 100%;
	color: #7b7b7b;
	
}

footer p{
	
	text-align:center; 
	line-height: 75px;
	margin: 0;

}

/*End Footer*/