
<template name="defaultLayout">
<head>
  <title>Blog</title>
</head>

<body>
  <header>
  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Blog</a></h1>
        </li>
         <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="#">Techno Posts</a></li>
          <li><a href="#">Perso Posts</a></li>
          <li><a href="#">About me</a></li>
        </ul>
        <ul class="right">
          <li><a href="/article/create">Create Article</a></li>
          <li><a href="/category/create">Create Category</a></li>
          <li><a href="/tag/create">Create Tag</a></li>
        </ul>
      </section>
    </nav>
  </div>
  <img src="/blurLights.jpg" class="hide-for-small-only banniere">
    </header>

  <article class="main-home">
    {{> yield}}
  </article>




</body>
</template>